check-in-papi/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd">
	<global-property doc:name="Global Property" doc:id="5fe2faa1-976e-4d50-83b6-26f04af0083a" name="encrypt.key" value="secure12345" />
	<flow name="payment-approval-by-pnr" doc:id="b23e2b87-cf37-4020-8b30-6d7fd14d59a6" >
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  lastName: "Smith",
  flightDate: "2019-02-14",
  depart: "14:30:00",
  boarding: "13:15:00",
  gate: "4A",
  flight: "ANY6584",
  airportDepart: "ATL",
  airportArrive: "SFO",
  class: "Economy",
  seat: "16C",
  bagsCount: 2,
  PNR: "928382J"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="check-in-by-pnr" doc:id="7ca9e7fb-b558-4a80-8c8a-8dccc0b36b9a" >
		<logger level="INFO" doc:name="Logger" doc:id="a3eb0113-c7f6-45c0-a13a-6d4d75e1cc23" />
		<raise-error doc:name="Raise error" doc:id="0e9719fe-bddc-42df-85d5-7c4ddd74d9de" type="TEST:AAA" description="Test Error"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="74ee9314-1aad-4e23-b4ca-a5ce84dfe136" >
				<logger level="INFO" doc:name="Logger" doc:id="fdf8bb77-7707-4c80-a0a1-bf2c2b650a52" message="#['1']"/>
				<logger level="INFO" doc:name="Logger1" doc:id="a8ac8064-f697-4dbd-9607-d847d42571bb" message="#['2']"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="check-in-flights-management">
    	<logger />
    </flow>
    <flow name="register-passenger-data">
    	<logger />
    </flow>
    <flow name="create-payment-for-bags">
    	<logger />
	</flow>
</mule>
